<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="assets/quickAnswerMenor.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="test" lines="none">
      <ion-label>
        <h1>Configurações</h1>
      </ion-label>
    </ion-item>

    <ion-item lines="none" class="buscar">
      <ion-searchbar placeholder="Buscar"></ion-searchbar>
    </ion-item>

    <ion-item class="itens">
      <ion-icon name="person-outline" class="icons"></ion-icon>
      <ion-label class="nomes">Conta</ion-label>
      <ion-icon name="chevron-forward-outline" class="setas"></ion-icon>
    </ion-item>
    <ion-item class="itens">
      <ion-icon name="notifications-outline" class="icons"></ion-icon>
      <ion-label class="nomes">Notificações</ion-label>
      <ion-icon name="chevron-forward-outline" class="setas"></ion-icon>
    </ion-item>
    <ion-item class="itens">
      <ion-icon name="lock-closed-outline" class="icons"></ion-icon>
      <ion-label class="nomes">Privacidade e Segurança</ion-label>
      <ion-icon name="chevron-forward-outline" class="setas"></ion-icon>
    </ion-item>
    <ion-item class="itens">
      <ion-icon name="headset-outline" class="icons"></ion-icon>
      <ion-label class="nomes">Suporte</ion-label>
      <ion-icon name="chevron-forward-outline" class="setas"></ion-icon>
    </ion-item>
    <ion-item class="itens">
      <ion-icon name="help-circle-outline" class="icons"></ion-icon>
      <ion-label class="nomes">Dúvidas</ion-label>
      <ion-icon name="chevron-forward-outline" class="setas"></ion-icon>
    </ion-item>

  </ion-list>
</ion-content>
