<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="assets/quickAnswerMenor.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none" class="calendario-largura">
      <ion-datetime presentation="date"></ion-datetime>
    </ion-item>
    <ion-item lines="none">
      <ion-searchbar placeholder="Buscar"></ion-searchbar>
    </ion-item>
  </ion-list>

  <ion-list>

    <ion-card *ngFor="let cliente of clientes">
      <ion-item-sliding>
        <ion-item>
          <ion-grid [fixed]="true">
            <ion-row>
              <span class="center-titulo" [innerText]="cliente.user_selecao_categoria"></span>
            </ion-row>
            <ion-row class="distancia-titulo">
              <ion-col class="icon-cliente"><ion-icon name="person" size=""></ion-icon></ion-col>
              <ion-col class="icon-hora"><ion-icon name="time"></ion-icon></ion-col>
              <ion-col class="icon-dia"><ion-icon name="calendar"></ion-icon></ion-col>
            </ion-row>
            <ion-row class="distancia-icons">
              <ion-col class="cliente" [innerText]="cliente.user_name"></ion-col>
              <ion-col class="hora" [innerText]="cliente.user_time"></ion-col>
              <ion-col class="dia" [innerText]="cliente.user_date"></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item-options>
          <ion-item-option><ion-icon slot="icon-only" name="checkmark"></ion-icon></ion-item-option>
          <ion-item-option color="danger"><ion-icon slot="icon-only" name="trash"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>
  </ion-list>
</ion-content>
