<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="assets/quickAnswerMenor.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none" class="calendario-largura">
      <ion-datetime presentation="date"></ion-datetime>
    </ion-item>
    <ion-item lines="none">
      <ion-searchbar></ion-searchbar>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header>
      <h1>João José</h1>
      <h4>17h 30min</h4>
    </ion-card-header>
    <ion-card-header>
      <h3>CABELO</h3>
      <h6>01/04/2023</h6>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <h1>Pedro Davi</h1>
      <h4>18h 30min</h4>
    </ion-card-header>
    <ion-card-header>
      <h3>BARBA</h3>
      <h6>01/04/2023</h6>
    </ion-card-header>
  </ion-card>
</ion-content>
