ion-menu-button {
  color: #ffffff;
}

ion-toolbar {
  --background: #5223ad;
}

ion-img {
  width: 35%;
  margin-left: 5.5rem;
}

// ion-item {
//   --background: none;
//   opacity: 1;
// }

ion-item.calendario-largura {
  --padding-start: 0px;
  --inner-padding-end: 0px;
}

ion-datetime {
  max-width: 100%;
  // background: #f7f4ffd8;
}

span.center-titulo {
  font-size: 16px;
  margin-left: 5%;
  color: #8949ff;
  padding-bottom: 2%;
  font-family: monospace;
  font-weight: bold;
}

  ion-col.icon {
    margin-left: 10%;
    font-size: 16px;
    color: #8679a0;
  }

  ion-col.info {
    margin-left: -60%;
    font-size: 16px;
    color: #331b5f;
    font-family: monospace;
  }
