ion-menu-button {
  color: #ffffff;
}

ion-toolbar {
  --background: #5223ad;
}

ion-img {
  width: 35%;
  margin-left: 5.5rem;
}

// ion-item {
//   --background: none;
//   opacity: 1;
// }

ion-item.calendario-largura {
  --padding-start: 0px;
  --inner-padding-end: 0px;
}

ion-datetime {
  max-width: 100%;
  // background: #f7f4ffd8;
}

span.center-titulo {
  font-size: 25px;
  font-weight: bold;
  margin-left: 37%;
  font-family: 'Times New Roman', Times, serif;
  color: #6f6969;
}

ion-row.distancia-titulo {
  padding-top: 5%;

  ion-col.icon-cliente {
    margin-left: 6%;
    font-size: 18px;
    color: #dadada;
  }

  ion-col.icon-hora {
    margin-left: 16%;
    font-size: 18px;
    color: #dadada;
  }

  ion-col.icon-dia {
    display: flex;
    justify-content: flex-end;
    margin-right: 6%;
    font-size: 18px;
    color: #dadada;
  }
}

ion-row.distancia-icons {
  padding-top: 2%;

  ion-col.cliente {
    margin-left: -2%;
    font-size: 18px;
    font-weight: bold;
    font-family: revert;
    color: #6f6969;
  }

  ion-col.hora {
    margin-left: 6%;
    font-size: 18px;
    font-weight: bold;
    font-family: revert;
    color: #6f6969;
  }

  ion-col.dia {
    display: flex;
    justify-content: flex-end;
    margin-right: -1%;
    font-size: 18px;
    font-weight: bold;
    font-family: revert;
    color: #6f6969;
  }

}

// ion-content {
//    --ion-background-color: #f7f4ffd8;
// }
