ion-menu-button {
  color: #ffffff;
}

ion-toolbar {
  --background: #5223ad;
}

ion-img {
  width: 35%;
  margin-left: 5.5rem;
}

ion-card {
  margin-top: 5%;
}

span.center-titulo {
  font-size: 27px;
    margin-left: 25%;
    font-family: "Times New Roman", Times, serif;
    color: #000000;
}

ion-row.distancia-titulo {
  padding-top: 5%;

  ion-col.icon-cliente {
    margin-left: 6%;
    font-size: 18px;
    color: #dadada;
  }

  ion-col.icon-hora {
    margin-left: 16%;
    font-size: 18px;
    color: #dadada;
  }

  ion-col.icon-dia {
    display: flex;
    justify-content: flex-end;
    margin-right: 6%;
    font-size: 18px;
    color: #dadada;
  }
}

ion-row.distancia-icons {
  padding-top: 2%;

  ion-col.cliente {
    margin-left: -2%;
    font-size: 18px;
    font-weight: bold;
    font-family: revert;
    color: #6f6969;
  }

  ion-col.hora {
    margin-left: 6%;
    font-size: 18px;
    font-weight: bold;
    font-family: revert;
    color: #6f6969;
  }

  ion-col.dia {
    display: flex;
    justify-content: flex-end;
    margin-right: -1%;
    font-size: 18px;
    font-weight: bold;
    font-family: revert;
    color: #6f6969;
  }

}

h1 {
  margin-left: 15%;
  padding-top: 4%;
  font-family: monospace;
  font-size: 170%;
  color: #331b5f;
}

div {
  margin-left: 35%;
  color: #331b5f;
}
