<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="assets/quickAnswerMenor.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Seus próximos clientes</h1>

  <div>

    <ion-icon name="arrow-down-outline"></ion-icon>
    <ion-icon name="arrow-down-outline"></ion-icon>
    <ion-icon name="arrow-down-outline"></ion-icon>
    <ion-icon name="arrow-down-outline"></ion-icon>
    <ion-icon name="arrow-down-outline"></ion-icon>
    <ion-icon name="arrow-down-outline"></ion-icon>
    <ion-icon name="arrow-down-outline"></ion-icon>

  </div>

  <ion-list>

<ion-refresher slot="fixed" (ionRefresh)="refreshPage($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

    <ion-card *ngFor="let cliente of clientes">
      <ion-item-sliding>
        <ion-item>
          <ion-grid [fixed]="true">
            <ion-row>
              <span class="center-titulo" [innerText]="cliente.user_selecao_categoria"></span>
              <span class="center-titulo" [innerText]="cliente.user_selecao_servico2"></span>
            </ion-row>
            <ion-row class="distancia-titulo">
              <ion-col class="icon"><ion-icon name="person" size=""></ion-icon></ion-col>
              <ion-col class="info" [innerText]="cliente.user_name"></ion-col>
            </ion-row>
            <ion-row class="distancia-titulo">
              <ion-col class="icon"><ion-icon name="time"></ion-icon></ion-col>
              <ion-col class="info" [innerText]="cliente.user_time"></ion-col>
            </ion-row>
            <ion-row class="distancia-titulo">
              <ion-col class="icon"><ion-icon name="calendar"></ion-icon></ion-col>
              <ion-col class="info" [innerText]="cliente.user_date"></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item-options>
          <ion-item-option [routerLink]="['/edit/', cliente._id]"><ion-icon slot="icon-only"
              name="create-outline"></ion-icon></ion-item-option>
          <ion-item-option color="danger" (click)="remover(cliente._id)"><ion-icon slot="icon-only"
              name="trash"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

  </ion-list>
</ion-content>
