<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img src="assets/quickAnswerMenor.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content style="--ion-background-color: #f7f4ffd8;">
  <ion-card style="background: #0080002e;">
    <ion-card-header>
      <h1>João José</h1>
      <h4>17h 30min</h4>
    </ion-card-header>
    <ion-card-header>
      <h3>CABELO</h3>
      <h6>01/04/2023</h6>
    </ion-card-header>
  </ion-card>
  <ion-card style="background: #ffa5002b">
    <ion-card-header>
      <h1>Pedro Davi</h1>
      <h4>18h 30min</h4>
    </ion-card-header>
    <ion-card-header>
      <h3>BARBA</h3>
      <h6>01/04/2023</h6>
    </ion-card-header>
  </ion-card>
  <ion-card style="background: #ff000029;">
    <ion-card-header>
      <h1>Pedro Davi</h1>
      <h4>18h 30min</h4>
    </ion-card-header>
    <ion-card-header>
      <h3>BARBA</h3>
      <h6>01/04/2023</h6>
    </ion-card-header>
  </ion-card>
  <ion-card style="background: #0080002e;">
    <ion-card-header>
      <h1>João José</h1>
      <h4>17h 30min</h4>
    </ion-card-header>
    <ion-card-header>
      <h3>CABELO</h3>
      <h6>01/04/2023</h6>
    </ion-card-header>
  </ion-card>
  <ion-card style="background: #0080002e;">
    <ion-card-header>
      <h1>João José</h1>
      <h4>17h 30min</h4>
    </ion-card-header>
    <ion-card-header>
      <h3>CABELO</h3>
      <h6>01/04/2023</h6>
    </ion-card-header>
  </ion-card>
</ion-content>
